@charset "utf-8";

@import './modules/reset';
@import './modules/loginScreen';
@import './modules/message';
@import './modules/playerList';

body{
	font-family: 'Sen', sans-serif;
}

#app{
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}